<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <title>AJAX SEO Starter Kit</title>
</head>
<body>
    <main>{{{ body }}}</main>
    <!-- bower:js -->
    <script src="../../bower_components/handlebars/handlebars.js"></script>
    <!-- endbower -->
</body>
</html>
