<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <title>AJAX SEO Starter Kit</title>
</head>
<body>
    <main>{{{ body }}}</main>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='/js/jquery.min.js'><\/script>")</script>
    <!-- bower:js -->
    <script src="bower_components/handlebars/handlebars.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/backbone.babysitter/lib/backbone.babysitter.js"></script>
    <script src="bower_components/backbone.wreqr/lib/backbone.wreqr.js"></script>
    <script src="bower_components/marionette/lib/core/backbone.marionette.js"></script>
    <!-- endbower -->
    <script src="js/script.js"></script>
    <script>
        document.write("<script src='http://"+ (location.host || "localhost").split(":")[0] +":35729/livereload.js?snipver=1'><\/script>");
    </script>
</body>
</html>
