<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <title>AJAX SEO Starter Kit</title>
</head>
<body>
    <main>{{{ body }}}</main>
    <!-- bower:js -->
    <script src="../../bower_components/handlebars/handlebars.js"></script>
    <!-- endbower -->
    <script>
        document.write("<script src='http://"+ (location.host || "localhost").split(":")[0] +":35729/livereload.js?snipver=1'><\/script>");
    </script>
</body>
</html>
